<%= form_with(model: project, class: "space-y-4") do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Project Info</legend>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "px-2 py-1 border w-full rounded-md" %>
  </fieldset>

  <div id="tasks" class="mb-2">
    <%= render @project.tasks %>
  </div>

  <div class="mb-2">
    <%= link_to "Add a Task", new_task_path, data: { turbo_stream: true }, class: "p-2 rounded-md bg-blue-300 hover:bg-blue-400" %>
  </div>

  <div>
    <%= form.submit nil, class: "p-2 rounded-md bg-blue-300 hover:bg-blue-400 w-full" %>
  </div>
<% end %>
